<div>
    <h1>Seattle, WA</h1>
    <div id="city">
        <h3 style="text-align:left">Humidity (Average): {{seattle.main.humidity}}</h3>
        <h3 style="text-align:left">Temperature (High): {{seattle.main.temp_max}}</h3>
        <h3 style="text-align:left">Temperature (Low): {{seattle.main.temp_min}}</h3>
        <h3 style="text-align:left">Status: {{seattle.weather[0].description}}</h3>
    </div>
    <div id="image">
        <img src="http://media.royalcaribbean.com/content/shared_assets/images/ports/hero/SEA_01.jpg" alt="burbank">
    </div>
</div>