<div>
    <h1>San Jose, CA</h1>
    <div id="city">
        <h3 style="text-align:left">Humidity (Average): {{sanJose.main.humidity}}</h3>
        <h3 style="text-align:left">Temperature (High): {{sanJose.main.temp_max}}</h3>
        <h3 style="text-align:left">Temperature (Low): {{sanJose.main.temp_min}}</h3>
        <h3 style="text-align:left">Status: {{sanJose.weather[0].description}}</h3>
    </div>
    <div id="image">
        <img src="https://www.terragalleria.com/images/us-ca/usca80078.jpeg" alt="burbank">
    </div>
</div>