<div>
    <h1>Dallas, TX</h1>
    <div id="city">
        <h3 style="text-align:left">Humidity (Average): {{dallas.main.humidity}}</h3>
        <h3 style="text-align:left">Temperature (High): {{dallas.main.temp_max}}</h3>
        <h3 style="text-align:left">Temperature (Low): {{dallas.main.temp_min}}</h3>
        <h3 style="text-align:left">Status: {{dallas.weather[0].description}}</h3>
    </div>
    <div id="image">
        <img src="https://images1.apartments.com/i2/-v1q-hltvHZf0nBWDQuMXvwqZtcJwodbg0gWWe4Rp-8/110/dallas-tx-the-dallas-skyline-on-a-cloudy-afternoon.jpg" alt="burbank">
    </div>
</div>