<div>
    <h1>Chicago, IL</h1>
    <div id="city">
        <h3 style="text-align:left">Humidity (Average): {{chicago.main.humidity}}</h3>
        <h3 style="text-align:left">Temperature (High): {{chicago.main.temp_max}}</h3>
        <h3 style="text-align:left">Temperature (Low): {{chicago.main.temp_min}}</h3>
        <h3 style="text-align:left">Status: {{chicago.weather[0].description}}</h3>
    </div>
    <div id="image">
        <img src="https://images.frmonline.com/sites/frc/pct/chicago/moving-to-living-in-chicago-784.jpg" alt="burbank">
    </div>
</div>