<div id="main">
  <p>MainComponent</p>
  <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illo vitae, pariatur a perferendis nemo voluptas modi dolor commodi impedit. Possimus sint ut quis rem iure eius consectetur, blanditiis amet?</p><br>
  <p>lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illo vitae, pariatur a perferendis nemo voluptas modi dolor commodi impedit. Possimus sint ut quis rem iure eius consectetur, blanditiis amet? lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illo vitae, pariatur a perferendis nemo voluptas modi dolor commodi impedit. Possimus sint ut quis rem iure eius consectetur, blanditiis amet? lorem ipsum dolor sit amet, consectetur adipisicing elit. Eius illo vitae, pariatur a perferendis nemo voluptas modi dolor commodi impedit. Possimus sint ut quis rem iure eius consectetur, blanditiis amet?</p><br>  
</div>
